<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" container="false" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header habmin-nav">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">{{t mainMenuAppName}}</span>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"><span class="glyphicon glyphicon-tasks"></span> {{t mainMenuDashboard}}
                </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-eye-open"></span> {{t mainMenuSitemaps}}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        {{#each model.sitemaps}}
                            <li>{{#link-to 'sitemap.view' name}}{{label}}{{/link-to}}</li>
                        {{/each}}
                    </ul>
                </li>
                <li>{{#link-to 'chart'}} {{t mainMenuAutomation}}{{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span>  {{t mainMenuLogin}}</a>
                </li>
            </ul>
        </div>
            </div>
    </nav>
    <div class="container-fluid" id="main">
        <div class="row">
            {{outlet}}
        </div>
    </div>
</div>
