<div class="col-md-4">
    <div>
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{t chartItemList}}</h4>

                <div class="nav pull-right">
                    <div>
                        <button type="button" class="btn btn-default">
                            <a href="#" role="menuitem" {{action "showChart" item item.name}}><span class="glyphicon glyphicon-play"></span></a>
                        </button>
                    </div>

                    <div class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            {{#each service in services}}
                                <li {{bind-attr class="isSelectedService:active"}}>
                                    <a href="#" role="menuitem">{{service.name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </div>
            <div class="list-group">
                {{#each item in items}}
                    <a href="#"
                       role="presentation" {{bind-attr class=":list-group-item item.selected:list-group-item-info"}} {{action "clickItem" item item.name}}><img {{bind-attr src="item.icon"}}>{{item.label}}
                    </a>
                {{else}}
                    <div class="list-group-item pagination-centered">{{t chartNoItemsToGraph}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="chart-container">
        {{c3-chart
        data=data
        axis=axis
        regions=regions
        bar=bar
        pie=pie
        donut=donut
        grid=grid
        legend=legend
        tooltip=tooltip
        subchart=subchart
        zoom=zoom
        size=size
        padding=padding
        color=color
        transition=transition
        }}
    </div>
</div>