<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div>
                <span class="glyphicon glyphicon-list"></span>{{t chartItemList}}

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top"
                            title=""
                            data-original-title="Tooltip on top">
                        <a href="#" role="menuitem" {{action "showChart" item item.name}}><span
                                class="glyphicon glyphicon-play"></span></a>
                    </button>

                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-th"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        {{#each service in model.services}}
                            <li {{bind-attr class="isSelectedService:active"}}>
                                <a href="#" role="menuitem">{{service.name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div id="custom-search-form" class="input-group col-xs-12">
                <input type="text" class="search-query" placeholder="Filter">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-xs" type="button">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                </span>
            </div>
        </div>
        <div id="itemList" class="list-group habmin-list">
            {{#each item in model.items}}
                <a href="#"
                   role="presentation" {{bind-attr class=":list-group-item item.selected:list-group-item-info"}} {{action "clickItem" item item.name}}>
                    <img class="habmin-img-list" src="/images/{{unbound item.icon}}.png">
                    {{item.label}}
                </a>
            {{else}}
                <div class="list-group-item text-center">{{t chartNoItemsToGraph}}</div>
            {{/each}}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <h6>Total Count <span class="label label-info">25</span></h6>
                </div>
                <div class="col-md-6">
                    <h6>Selected <span class="label label-success">25</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">



</div>