<div class="col-md-4">
    <div class="habmin-scroll">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">{{t chartItemList}}</h4>

                <div class="btn-group pull-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                data-toggle="dropdown">
                            {{selectedStore}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            {{#each service in services}}
                                <li role="presentation"><a role="menuitem"
                                    {{action "changeStore" this service.name}}>{{service.name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                {{#each item in items}}
                    <li class="list-group-item">{{item.label}}</li>
                {{else}}
                    <li class="list-group-item pagination-centered">{{t chartNoItemsToGraph}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="chart-container">
        {{c3-chart data=chart}}
    </div>
</div>